/* Tóm tắt: Style cho SoftwareSkill trong components/softwareSkills. */
.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
}

.skill-image {
  height: 48px;
}
